
{% extends 'journal/navbar.html' %}

{% block content %}

      <div class="bg-dark h-100 p-5">
          <br>
          <br>
          <div class="container bg-light p-4 shadow-md form-style">
              <font style="font-weight:bolder;">DashBoard</font><img style="width: 100px; height: 100px; float: right; border-radius: 10px;" src="{{ProfilePic.profile_pic.url}}">
              <h4>{{user}}</h4>
              <a class="btn btn-success" href="{% url 'logout' %}">Logout Here</a>
          </div>
          <br>
      </div>


{% endblock %}